@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.App {
  font-family: sans-serif;
}
.analog-clock {
  width: 300px;
  height: 300px;
  border: solid 2px #000;
  border-radius: 50%;
  position: relative;
  background: url("../../public/purzen_Clock_face_web.svg");
}

.dial {
  position: absolute;
  left: 50%;
  width: 140px;
  height: 140px;
  transform-origin: bottom left;
  top: 10px;
  &.seconds {
    border-left: solid 2px green;
  }
  &.minutes {
    border-left: solid 2px #cc0000;
  }
  &.hours {
    width: 105px;
    height: 105px;
    top: 45px;
    border-left: solid 2px #000;
  }
}
